:root {
    --fg-color: #844;
    --bg-color: #ffffffaa;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    color: var(--fg-color)
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--bg-color);
    border-radius: 0 0 1rem 1rem;
}

main {
    display: flex;
    justify-content: center;
}

button {
    font-size: 5rem;
    padding: 1rem;
    border: 3px solid var(--fg-color);
    background: var(--bg-color);
    cursor: pointer;
}

a, a:hover {
    color: var(--fg-color);
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: dotted;
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color);
    border-radius: 1rem 1rem 0 0;

    display: flex;
    justify-content: space-between;
}
